body {
  background-color: rgb(255, 216, 216);
  
  
}

.form {
  
  padding: 1%;
  margin-left: 15px;
  font-size: larger;
  font-family: "Times New Roman", Times, serif;
}

.card {
  align-items: center !important;
  text-align: center !important;
  width: 400px !important;
  height: 500px !important;
  padding-left: 10px !important;
  margin: 10px !important;
  background-color: rgb(233, 223, 223) !important;
  border-radius: 10px !important;
}

.card:hover {
  background-color: rgb(219, 239, 239) !important;
}

.button {
  margin-right: 100px;
  border-radius: 100px;
}

.label {
  margin-right: 3%;
}

.input {
  border-radius: 100px;
}

.card-div{
  padding: 50px;
}

.card-head{
  margin: 1rem;
  
  font-weight:bolder ;
  color: rgb(30, 40, 31);
  font-size: larger;
}